.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
}

table {
  margin-bottom: 20px;
}

th,
td {
  text-align: center;
}

thead th {
  background-color: #f8f9fa;
}

tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e9ecef;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

.table {
  width: 100%;
}
